<div class="container"  style="margin-top: 10%; margin-left: 15%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="row">
        <div *ngFor="let user of users" class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{user.picture.large}}" class="card-img-top">
                <div class="card-body" style="margin: auto;">
                    <h3>
                        {{user.name.first}} {{user.name.last}}
                    </h3>
                    <h4>
                        gender: {{user.gender}}
                    </h4>
                    <h4>
                        country: {{user.location.country }}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
